@use "./variables" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  // font-family: fantasy;
  // font-weight: 300;
}

h2 {
  font-size: 4.5rem;
  font-weight: 300;
}
.nav {
  display: flex;
  flex-direction: row;

  &__item {
    color: $white;
    text-decoration: none;
    font-size: 1.1rem;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    &:hover {
      color: #393939;
    }
  }
}

.nav__link-list {
  display: flex;
  flex-direction: row;
}

.nav__link {
  font-size: 1.31rem;
  text-decoration: none;
  color: #393939;
  margin-right: 1.25rem;
  margin-top: 1.4375rem;
  display: flex;
}

.header,
.header__list {
  display: flex;
  flex-direction: row;
}
.header {
  background-color: $dark-blue;
  max-height: 15rem;
  width: 100%;
  display: flex;
  padding-top: 1.3rem;

  &__logo {
    //max-width: 7rem;
    width: 70px;
    height: 20%;
    margin-left: 0;
    margin-left: 3rem;
    border-radius: 10%;
    padding-top: 0;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: #e1e1e1;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 48rem;
    width: 40%;
    padding-bottom: 0.8rem;
    margin-top: 2.3rem;
    padding-right: 3rem;
  }
}

.hero {
  background-image: url(/assets/earth-starry-sky-night-world-dark-blue-3840x2160-3874.jpg);
  background-size: cover;
  background-position: center;
  height: 42rem;
  width: 100%;
  align-content: center;
  overflow: hidden;

  &__title {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4.5rem;
    font-weight: 350;
    margin-top: 0;
    //font-style: italic;
    opacity: 92%;
    padding-left: 2rem;
    margin-top: 8.5rem;
    //text-align: center;
  }

  &__wrap {
    padding-left: 1rem;
    height: 42rem;
    width: 100%;
    padding-top: 4.8rem;
    margin-top: 0rem;
    background-color: rgba(17, 18, 54, 0.084);
  }
}

.footer {
  color: $white;
  // background-image: url('/assets/407049.png');
  // background-position: center;
  // background-size: cover;
  height: 20rem;
  background-color: rgba(82, 36, 19, 0.671);
  padding-top: 0;
}

.articles {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: white;
}
