@use "./partials/global" as *;
@use "./partials/variables" as *;

.header__logo {
  height: 80%;
}
.camera__info {
  background-image: url("/assets/538145.jpg");
  background-size: cover;
  height: 80rem;
  background-position: center;
  padding: 0 3rem;
  margin-top: -3.75rem;
  color: $white;
  padding-top: 1.7rem;
  //border: 2px dotted rgb(64, 43, 226);
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;

  img {
    width: calc(33.3% - 5px);
  }
}
